<h2>Text Input</h2>

<form action="/room/add" target="_blank" method="get">
  Room Name:<br>
  <input type="text" name="room_name">
  <br>
  Apartment:<br>
  <input type="text" name="apartment">
  <br>
  Address:<br>
  <input type="text" name="address">
  <br><br>
  Contact:<br>
  <input type="text" name="contact">
  <br>
  Amenities:<br>
  <b><i>Please provide comma separated input ex. bathroom,kitchen</i><b>
  <br>
  <input type="text" name="amenities"> <br>
  Price:<br>
  <input type="text" name="price">
  <br>Semester:<br>
  <input type="text" name="semester"><br>
  <input type="submit" value="Submit">
</form>
